.w-15 {
    width: 15% !important;
}

.w-40 {
    width: 40% !important;
}

.w-20 {
    width: 20% !important;
}

.mw-330px {
    max-width: 330px !important;
}

.mw-600px {
    max-width: 600px !important;
}

.no-resize {
    resize: none !important;
}
